run = "npm run dev:server"
entrypoint = "server/index.ts"

[nix]
channel = "stable-24_05"
packages = ["nodejs_20", "nodePackages.npm"]

[deployment]
run = ["sh", "-c", "npm install --include=dev && npm run build && npm start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5001
externalPort = 80
