run = "npm run dev:server"
entrypoint = "server/index.ts"

[nix]
channel = "stable-24_05"

[deployment]
run = ["node", "dist/index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5001
externalPort = 80
