run = "npm run dev:server"
entrypoint = "server/index.ts"

[nix]
channel = "stable-24_05"
packages = ["nodejs_20", "nodePackages.npm"]

[deployment]
run = ["/nix/store/bl6iwirn83qj9r8wng43kfdqd5mfahj8-nodejs-22.22.0/bin/node", "dist/index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5001
externalPort = 80
